
.form-control[b-ug0s5b7ca7] {
    margin-left: 50px;
    color: white;
    min-width: 800px;
    min-height: 40px;
    background-color: #0088d3;
    border: none;
    border-radius: 15px;
}

btn-success input-group-text[b-ug0s5b7ca7] {
    border: 3px solid black;
}

[b-ug0s5b7ca7]::placeholder {
    color: #e4e6e7;
}

