@inject NavigationManager NavigationManager
@inject IAddProjectUseCase AddProjectUseCase
@inject ISnackbar Snackbar

<MudDialog>
	<DialogContent>
		<EditForm Model="newProject" OnValidSubmit="SaveProject">
			<DataAnnotationsValidator></DataAnnotationsValidator>
			<ValidationSummary></ValidationSummary>
			<div class="form-group">
				<label for="name">Project Name</label>
				<br />
				<MudInput id="name" @bind-Value="newProject.Name"></MudInput>
			</div>

			<br />

			<div class="form-group">
				<label for="description">Description</label>
				<MudTextField id="description" @bind-Value="newProject.Description"></MudTextField>
			</div>
			<br/>
			<br/>
		<MudButton ButtonType="ButtonType.Submit">Save</MudButton>
		<MudButton ButtonType="ButtonType.Button" @onclick="Cancel">Cancel</MudButton>

		</EditForm>
	</DialogContent>
</MudDialog>


@code {
	private Project newProject = new Project();

	[CascadingParameter] MudDialogInstance MudDialog { get; set; }

	[Parameter]
	public Action<bool> OnProjectAdded { get; set; } // Update the type to

	private async Task SaveProject()
	{
		newProject.assignedTeam = new Team();
		StatusReport<EmptyVal> status = await AddProjectUseCase.ExecuteAsync(newProject);
		Snackbar.Add(status.Reason, status.severity);

		MudDialog.Close(DialogResult.Ok(true));
		OnProjectAdded?.Invoke(true); // Invoke the event callback to trigger reload

	}

	void Cancel() => MudDialog.Cancel();
}


