@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<MudThemeProvider @bind-IsDarkMode="@themeOn"/>
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <!-- Leiste oben - Background: #0088d3 -->
    <MudAppBar Elevation="0" Style="background-color: #0088d3">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudSpacer />
        <MudImage Src="images/logo-goalgetter.png" Width="50" Height="50" Alt="GG-Logo" Style="border: none" />
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" Elevation="1">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">
                <a @onclick="GoToRootPage" style="cursor: pointer; text-decoration: none;">GoalGetter</a>
            </MudText>
        </MudDrawerHeader>
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Large" Class="my-5 pt-5">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code {
    bool _drawerOpen = true;
    bool themeOn = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    void GoToRootPage()
    {
        NavigationManager.NavigateTo("/");
    }
}
