@page "/people"
@inject NavigationManager NavigationManager
@inject IDialogService DialogService

<AuthorizeView>
    <Authorized>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 d-flex align-items-center">
                    <MudButton Variant="Variant.Filled" DisableElevation="true" Style="max-height: 40px; margin-top: 7px; background-color: #0088d3; color: white; margin-right: 3vw" OnClick="@((e) => OpenDialog(maxWidth))">
                        + Person
                    </MudButton>
                    <MudPopover Open="@_isOpen" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
                        <AddPerson />
                    </MudPopover>
                    <Searchbar OnSearchterm="OnTermSearch" />
                </div>
            </div>
        </div>

        @*Hier kommen die Karten für jeder Projekt*@
        <PeopleListComponent searchTerm="@searchterm" reloadFlag="@reloadFlag" />
    </Authorized>
    <NotAuthorized>
		<MudCard>
			<MudCardHeader>
				<CardHeaderContent>
					<MudText Typo="Typo.h6">You are not allowed to access this page.</MudText>
				</CardHeaderContent>
			</MudCardHeader>
			<MudCardContent>
				<MudText Typo="Typo.body2">Please login to see the content.</MudText>

			</MudCardContent>
			<MudCardActions><MudButton OnClick="RedirectToLogin" Color="Color.Info" Variant="Variant.Filled">Login</MudButton></MudCardActions>
		</MudCard>
	</NotAuthorized>
</AuthorizeView>


@code {
    public bool _isOpen;
    private bool reloadFlag = false;

    public void Close(bool status)
    {
        _isOpen = status;
        reloadFlag = !reloadFlag; // Toggle the reload flag
    }

    public void ToggleOpen()
    {
        _isOpen = true;
    }

    private string searchterm = "";

    private void OnTermSearch(string searchterm)
    {
        this.searchterm = searchterm;
    }

    DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Small, FullWidth = true };

    private void OpenDialog(DialogOptions options)
    {
        var parameters = new DialogParameters();
        parameters.Add("OnPersonAdded", HandlePersonAdded);
        DialogService.Show<AddPerson>("Add People",parameters, options);
    }

    private void HandlePersonAdded(bool isAdded)
    {
        if (isAdded)
        {
            reloadFlag = !reloadFlag;
            searchterm = ""; // Optionally, clear the search term to display all projects after adding
        }
        StateHasChanged();
    }
    void RedirectToLogin()
    {
        NavigationManager.NavigateTo("/login", true);
    }
}
