@page "/people"
@inject NavigationManager NavigationManager

<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 d-flex align-items-center">
			<MudButton Variant="Variant.Filled" DisableElevation="true" Style="background-color: #0088d3; color: white" Color="Color.Primary" OnClick="@ToggleOpen">
				+ Person
			</MudButton>
			<MudPopover Open="@_isOpen" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
				<div class="d-flex flex-column pa-10">
					<AddPerson Windowclosed="Close" />
				</div>
			</MudPopover>
			<Searchbar OnSearchterm="OnTermSearch" />
		</div>
	</div>
</div>

@*Hier kommen die Karten für jeder Projekt*@
<PeopleListComponent searchTerm="@searchterm" reloadFlag="@reloadFlag" />

@code {
	public bool _isOpen;
	private bool reloadFlag = false;

	public void Close(bool status)
	{
		_isOpen = status;
		reloadFlag = !reloadFlag; // Toggle the reload flag
	}

	public void ToggleOpen()
	{
		_isOpen = true;
	}

	private string searchterm = "";

	private void OnTermSearch(string searchterm)
	{
		this.searchterm = searchterm;
	}
}