@page "/projects"

<h1>
	Projects
</h1>

<button><img />new Project</button>
<Searchbar OnSearchterm="OnTermSearch" />

@*Hier kommen die Karten für jeder Projekt*@
<ProjectsListComponent searchTerm="@searchterm"/>


@code{
	private string searchterm = "";

	private void OnTermSearch(string searchterm)
	{
		this.searchterm = searchterm;
	}
}