@page "/"
@page "/projects"
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IDialogService DialogService

<AuthorizeView>
	<Authorized>
		<MudContainer Class="justify-content-center">
			<div class="row">
				<div class="col-md-6 d-flex">
					<MudButton OnClick="@((e) => OpenDialog(maxWidth))" Variant="Variant.Filled" DisableElevation="true" Style="background-color: #0088d3; color: white; max-height: 40px; margin-right: 40px; margin-top: 8px" Color="Color.Primary">
						+ Project
					</MudButton>
					<MudPopover Open="@_isOpen" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
						<div class="d-flex flex-column pa-10">
							<AddProject OnProjectAdded="HandleProjectAdded" />
						</div>
					</MudPopover>
					<Searchbar OnSearchterm="OnTermSearch" />
				</div>
			</div>
		</MudContainer>

		@*Hier kommen die Karten für jeder Projekt*@
		<ProjectsListComponent searchTerm="@searchterm" reloadFlag="@reloadFlag" />
	</Authorized>
	<NotAuthorized>
		<MudCard>
			<MudCardHeader>
				<CardHeaderContent>
					<MudText Typo="Typo.h6">You are not allowed to access this page.</MudText>
				</CardHeaderContent>
			</MudCardHeader>
			<MudCardContent>
				<MudText Typo="Typo.body2">Please login to see the content.</MudText>

			</MudCardContent>
			<MudCardActions><MudButton OnClick="RedirectToLogin" Color="Color.Info" Variant="Variant.Filled">Login</MudButton></MudCardActions>
		</MudCard>
	</NotAuthorized>
</AuthorizeView>



@code{

	public bool _isOpen;
	private bool reloadFlag = false;

	private string searchterm = "";

	private void OnTermSearch(string searchterm)
	{
		this.searchterm = searchterm;
	}

	DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Small, FullWidth = true };

	private void OpenDialog(DialogOptions options)
	{
		var parameters = new DialogParameters();
		parameters.Add("OnProjectAdded", HandleProjectAdded);
		DialogService.Show<AddProject>("Add new project", parameters, options);
	}

	private void HandleProjectAdded(bool isAdded)
	{
		if (isAdded)
		{
			reloadFlag = !reloadFlag;
			searchterm = ""; // Optionally, clear the search term to display all projects after adding
		}
		StateHasChanged();
	}

	private void RedirectToLogin()
	{
		NavigationManager.NavigateTo("/login");
	}
}