@page "/projects"

<h1>
	Projects
</h1>

<button><img />new Project</button>
<Searchbar />

@*Hier kommen die Karten für jeder Projekt*@
<ProjectsListComponent searchTerm="searchterm"/>


@code{
	private string searchterm = "";

	private void OnInventorySearch(string searchterm)
	{
		this.searchterm = searchterm;
	}
}