@page "/"
@page "/projects"
@inject NavigationManager NavigationManager

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 d-flex align-items-center">
            <MudButton @onclick="NewProject" Variant="Variant.Filled" DisableElevation="true" Style="background-color: #0088d3; color: white">+ Project</MudButton>
            <Searchbar OnSearchterm="OnTermSearch" />            
        </div>
    </div>
</div>

<style>
    .search-button-wrapper {
        display: flex;
        justify-content: flex-end;
    }
</style>



@*Hier kommen die Karten für jeder Projekt*@
<ProjectsListComponent searchTerm="@searchterm"/>

@code{
	private string searchterm = "";
	public string TextValue { get; set; }

	private void OnTermSearch(string searchterm)
	{
		this.searchterm = searchterm;
	}
	private void NewProject()
	{
		NavigationManager.NavigateTo("/addproject");
	}
}