@page "/projects"
@inject NavigationManager NavigationManager

<h1>
	Projects
</h1>

<button type="button" class="btn btn-primary" @onclick="AddProject">Add Inventory</button>
<Searchbar OnSearchterm="OnItemSearch" />
<br/>

<ProjectsListComponent searchterm="@searchterm"/>


@code{
	private string searchterm = "";

	private void OnItemSearch(string searchterm)
	{
		this.searchterm = searchterm;
	}

	private void AddProject()
	{
		NavigationManager.NavigateTo("/addproject");
	}
}