@page "/project/{proid:int}/team"
@layout ProjectMainLayout
@inject IViewTeamMembersByProjectIdUseCase viewTeamMembersByProjectIdUseCase

<h3>Team for project @proid</h3>

@inject IDialogService DialogService

<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 d-flex align-items-center">
			<MudButton Variant="Variant.Filled" DisableElevation="true" Style="background-color: #0088d3; color: white" Color="Color.Primary" OnClick="@((e) => OpenDialog(maxWidth))">
				+ Person
			</MudButton>
			<MudPopover AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
				<AddTeam />
			</MudPopover>
			<Searchbar OnSearchterm="OnTermSearch" />
		</div>
	</div>
</div>

@*@*Hier kommen die Karten für jeder Projekt*@
<TeamListComponent proid="@proid" searchTerm="@searchterm" />

@code {
	[Parameter]
	public int proid { get; set; }

    private List<GG.CoreBusiness.Teammember> team;

	DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Small, FullWidth = true };

	private void OpenDialog(DialogOptions options)
	{
		DialogService.Show<AddTeam>("Add People", options);
	}

	private string searchterm = "";

	private void OnTermSearch(string searchterm)
	{
		this.searchterm = searchterm;
	}

}