@inject IViewProjectsByNameUseCase viewProjectsByNameUseCase
@*Hier kommen die Karten für jeder Projekt*@

<div>
	@if (projects != null)
	{
		@foreach (var project in projects)
		{
			<ProjectsListItemComponent project="@project" />
		}
	}
</div>


@code {
	private List<Project> projects;

	[Parameter]
	public string searchTerm { get; set; }

	protected override async Task OnParametersSetAsync()
	{
		projects = (await viewProjectsByNameUseCase.ExecuteAsync(this.searchTerm)).ToList();
	}
}
