<div class="mb-3">
	<h2>@project.Name</h2>
	<hr />
	<h3>@project.Description</h3>
	<p>@project.status</p>
	@foreach (var teamMember in project.assignedTeam.members)
	{
		<div><img src="@teamMember.person.AvatarPath" /></div>
	}
</div>
@code {
	[Parameter]
	public Project project{ get; set; }
}
