<div class="mb-3">
	<h2>@project.Name</h2>
	<hr />
	<h3>@project.Description</h3>
	<p>@project.status</p>
	<div>
		@if (project.assignedTeam != null)
		{
			foreach (var teamMember in project.assignedTeam.members)
			{
				<img src="@teamMember.person.AvatarPath" class="rounded-circle" width="50px" />
			}
		}
	</div>
</div>
@code {
	[Parameter]
	public Project project{ get; set; }
}
