@inject NavigationManager NavigationManager
<MudItem style="border-radius: 10px; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); width: 500px; height: 150px;" @onclick="RedirectToItemPage">
	<div class="bg">
		<MudText Typo="Typo.h6" Class="w-50">@project.Name</MudText>
	</div>
	<hr />
	<h3>@project.Description</h3>
	<p class="flex-right-down">@project.status</p>
	<div class="flex-right-down">
		@if (project.assignedTeam.members != null)
		{
			foreach (var teamMember in project.assignedTeam.members)
			{
				<img src="@teamMember.person.AvatarPath" class="rounded-circle" width="25px" />
			}
		}
	</div>
</MudItem>


@code {
	[Parameter]
	public Project project{ get; set; }

	private void RedirectToItemPage()
	{
		NavigationManager.NavigateTo($"/project/{project.Id}", true);
	}
}
