﻿
<div class="input-group">
	<input type="text" class="form-control" placeholder="What are you searching for"
			@bind-value="searchterm" />
	<button type="button" class="btn-success input-group-text"
			@onclick="OnSearch">Search</button>
</div>

@code {
	private string searchterm = string.Empty;

	[Parameter]
	public EventCallback<string> OnSearchterm { get; set; }

	private void OnSearch()
	{
		OnSearchterm.InvokeAsync(searchterm);
	}
}